<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/05/27/10/51/cocktails-1419481_1280.png);">
  <div class="container">
    <h1>Cocktails!</h1>
    <p>Hi Jess, how are you?</p>
    <%= link_to "Create a New Cocktail", new_cocktail_path, class: "btn btn-success" %>
  </div>
</div>
<div class="container">
  <div class="cards mt-4">
    <% @cocktails.each do |cocktail| %>
      <% url = "https://loremflickr.com/320/240/cocktail?random=#{rand(1..300)}" %>
      <div data-aos="fade-up">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      </div>
    <% end %>
  </div>
</div>